<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>回归线 登录</title>
    <meta name="description" content="">
    {% include ress.html %}

    <style type="text/css">

    .loginform {
      margin: 0 auto 20px;
      max-width: 400px;
      border-radius: 5px;
      background-color: #f5f5f5;
      padding: 15px;
    }

    .loginform h3{
      margin-bottom: 20px;
    }
    </style>

  </head>

  <body>

    <div class="container header" >
        <ul class="nav nav-pills pull-right">
          {% include menu.html %}
        </ul>

        <h2 class='logotitle'><a href="/">回归线</a></h2>
    </div>

    <hr>
    <div class="container">
      
      <div class="alert alert-danger alert-dismissable " style='display:none'>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>登录失败!</strong> 请检查你的账号和密码。
      </div>
      
      <form class="form-horizontal loginform" role="form" action='/m/account/login' method='post'>
        <h3>登录回归线</h3>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">账号</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="账号" name='username' id='txusername'>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="密码" name='password' id='txpwd'>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a href='#'>忘记密码</a>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <a href='#' class="btn btn-primary" id='loginbtn'>登录</a>
          </div>
        </div>
      </form>

    {% include footer.html %}
    </div> <!-- /container -->
    <script type="text/javascript">
      $(function(){
          $('#loginbtn').click(function(){
              var username = $('#txusername').val();
              var pwd = $('#txpwd').val();

              if(username && pwd){
                  $.post('/m/account/login?username='+username + '&password='+pwd,function(rs){
                      if(!rs.status){
                          $('.alert').show();
                      }else{
                          location.href = '/'+username;
                      }
                  })
              }else{
                  $('.alert').show();
              }              
          });
      })
    </script>
  </body>
</html>

       