<!DOCTYPE html>
<html>
<head>
<title>Migrant</title>
{% include ress.html %}
</head>
<body>
    <div id="jQUi">
        <div id="header">
            <h1>Migrant</h1>
        </div>
        <div id="content">
        <ul id='contentlst'>
		     <li ><a href="#jqm" id="jqmlink" >jqMobi<span class="jq-badge " data-ignore-pressed="true">38</span></a></li>
		     <li ><a href="#jqmui">jqUi</a></li>
		     <li ><a href="#jqmweb">jqPlugins</a></li>
		</ul>
        </div>
        {% include navbar.html %}
    </div>
</body>
</html>
<script type="text/javascript">
   $(function(){
        $.ajax({
           type: "GET",
           url: "/m/post/my",
           dataType: "json",
           success:function(rs){
                if(rs.status){
                    $.each(rs.data,function(index,item){
                        $("#contentlst").append($('<li ><a href="#">'+item.body+'</a></li>'));
                    })
                    
                }
           }
         });
   })

</script>
