<!doctype html>
<html>

<head>
	<meta charset="utf-8"/>
	<title>top10 - 使用帮助</title>
	{% include ress.html %}
</head>


<body>

	{% include header.html %}
	<section id="secondary_bar">
		<div class="user">
			<p>欢迎 {{ current_request.username}} </p>
			<a class="logout_user" href="/admin/logout" title="Logout">退出</a> 
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"> <a class="current">使用帮助</a></article>
		</div>
	</section><!-- end of secondary bar -->
	
	{% include leftbar.html %}

	<section id="main" class="column">
		<article class="module width_full">
			<header><h3>产品使用说明</h3></header>
			<div class="module_content">
				<h3>产品数据结构</h3>
				<p>		分组为分类和产品的顶级结点，分组下直接拥用多个分类及多个产品，每一个产品可以属于多个同组分类。如服装分组下有小短裤这个服装产品及小清新服装、性感小裤两个分类；那么两个分类都要以选择小短裤这个产品，因为小短裤这个产品拥有两个分类特征。</p>
				<h3>数据中的SEO信息</h3>
				<p>分类、产品及报告中的SEO信息用作产品推广，这类信息显示在前台页面Meta 中，对产品的推广起相当重要的作用。</p>
				<h3></h3>
			</div>
		</article><!-- end of content manager article -->

	</section>

</body>

</html>

