<!doctype html>
<html>

<head>
	<meta charset="utf-8"/>
	<title>Migrant 资源管理</title>
	{% include ress.html %}
</head>
<body>

	{% include header.html %}
	<section id="secondary_bar">
		<div class="user">
			<p>欢迎 {{ current_request.username}} </p>
			<a class="logout_user" href="/admin/logout" title="Logout">退出</a> 
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="/admin/report">资源管理</a> <div class="breadcrumb_divider"></div> <a class="current">资料节点</a></article>
		</div>
	</section><!-- end of secondary bar -->
	
	{% include leftbar.html %}

	<section id="main" class="column">
		<article class="module width_full">
			<header><h3 class="tabs_involved">节点列表</h3>
			<ul class="tabs">
			    <li><a href="/admin/resource" >重新加载节点</a></li>
			</ul>
			</header>

			<div class="tab_container">
				<div class="tab_content">
				    <ul id='nodelist'>
			        {% for item in data %}
	                    <li><a href='/admin/resource/{{ item }}'>{{item}}</a></li>
	                {% end %}
				    </ul>
				</div><!-- end of #tab1 -->
			</div><!-- end of .tab_container -->
		</article><!-- end of content manager article -->
	</section>

</body>
</html>

